.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
camera2_video_image_proto.iml
.DS_Store
/build
/captures
/projectFilesBackup/
/.idea/caches/build_file_checksums.ser
/.idea/caches/gradle_models.ser